:root {
  --cor-principal: #FFBB55;
  --fonte-principal: 'IBM Plex Mono', monospace;
  --cor-fundo: #FAF6ED;
}

body {
  background-color: var(--cor-fundo);
}

p {
  margin: 0px;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}

header ul{
  display: flex;
  align-items: center;
  background-color: var(--cor-principal);
  height: 59px;
  width: 1612px;
  column-gap: 10px;
  padding-left: 10px;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  color: #222222;
  font-family: var(--fonte-principal);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 10px;
}

.titulo {
  font-family: "Playfair Display SC", serif;
  font-size: 96px;
  font-weight: 200;
  color: #222222;
  margin-top: 40px;
  line-height: 100px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 900px 1fr;
  grid-template-rows: 700px 650px 650px ;
}

.animais-fantasticos {
  grid-column: 2/3;
  grid-row: 1/2;
}

.container-raposa {
  display: flex;
  margin-top: 36px;
  column-gap: 30px;
}

.container-texto {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-texto h3{
  line-height: 15px;
}

.imagens {
  width: 282px;
  height: 355px;
  overflow-y: scroll;
}

img {
  display: block;
  position: relative;
  max-width: 100%;
}

.imagens::-webkit-scrollbar {
  width: 12px; 
}

.imagens::-webkit-scrollbar:horizontal {
  height: 12px; 
}

.imagens::-webkit-scrollbar-track {
  background: var(--cor-fundo);
}

.imagens::-webkit-scrollbar-thumb {
  background: var(--cor-principal);
}

.texto-destaque {
  font-family: var(--fonte-principal);
  font-size: 16px;
  color: #E54;
}

.texto {
  font-family: Helvetica, Arial;
  line-height: 1.2;
  color: #222222;
  width: 470px;
  margin-bottom: 10px;
}

.faq {
  grid-column: 2/3;
  grid-row: 2/3;
}

.faq .texto-destaque {
  font-weight: 600;
  margin-bottom: 8px;
}

.faq .texto {
  width: 700px;
}

.faq div {
  margin-top: 68px;
  margin-left: 110px;
}